
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand active" routerLink="value" routerLinkActive="active">Blog <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kategoriler
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngFor="let category of categories" routerLink="/category/{{category.id}}" class="dropdown-item">{{category.name}}</a>
              </div>
            </li>      
            <li class="nav-item">
                <a class="nav-link" routerLink="hakkimizda" routerLinkActive="active">Hakkımızda</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="iletisim" routerLinkActive="active">İletişim</a>
            </li>
          </ul>

          <div class="form-inline my-2 my-lg-0">
            <input [(ngModel)]="filterText" type="search" class="form-control" placeholder="Ara" aria-label="Ara" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button routerLink="/filter/{{filterText}}" class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
            </div>
          </div>

        </div>
    </div>
  </nav>